@import "responsive";

.App {
  font-family: 'PT Mono', monospace;
  background: #bbf;
  height: 100%;
  display: flex;

  @include desktop {
    flex-direction: row;
  }
  @include mobile {
    flex-direction: column;
  }

  .SidebarContainer {
    @include desktop {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
      margin-right: 1.5rem;
    }
    @include mobile {
      box-shadow: 0.5rem 0 1rem rgba(0, 0, 0, 0.2);
    }
  }

  .main {
    padding: 0 1rem;
    // Limit width on larger screens.
    @media (min-width: 768px) {
      padding-right: 20vw;
    }
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
